<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-share-moreapps"
    version="1.0.24">
	
    <name>Cordova MoreApps plugin</name>
    <description>Cordova MoreApps plugin</description>
    <author>Sang Ki Kwon (Cranberrygame)</author>		
    <license>MIT</license>
    <keywords>cordova,plugin,moreapps</keywords>
    <repo>https://github.com/cranberrygame/cordova-plugin-share-moreapps</repo>
    <issue>https://github.com/cranberrygame/cordova-plugin-share-moreapps/issues</issue> 	
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>

    <dependency id="org.apache.cordova.inappbrowser" />	
	
    <js-module src="www/moreapps.js">
        <clobbers target="window.moreapps"/>
    </js-module>
	
    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="MoreApps">
                <param name="wp-package" value="MoreApps"/>
            </feature>
        </config-file>

        <source-file src="src/wp8/MoreApps.cs" />
    </platform>	
</plugin>